<img src="assets/images/middle_book.png" class="w-full mt-100">

<h1 class="text-success text-american-bold text-center my-5">Actualizar contraseña</h1>

<div class="row m-0">
  <div class="col-md-4"></div>
  <div class="col-md-4 bg-success-light p-5 mb-5 text-center">
    <form novalidate [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <input type="password" class="form-control mb-3" placeholder="Contraseña" formControlName="password" [(ngModel)]="password">
      <input type="password" class="form-control mb-3" placeholder="Confirmar contraseña" formControlName="confirm_password" [(ngModel)]="confirm_password">
      <button type="submit" class="btn btn-success mb-2" [disabled]="resetPasswordForm.invalid">
        <h4 class="m-0">Enviar</h4>
      </button>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
