<div class="bg-tree">
  <div class="row m-0">
    <div class="col-1"></div>
    <div class="col-10 pb-5" style="padding-top: 200px">
      <div class="row bg-transparent my-5 p-4">
        <div class="col-12 col-md-3">
          <h1 class="text-success super_title text-american-medium">
            Nuestro origen...
          </h1>
        </div>
        <div class="col-12 col-md-9">
          <p class="text-30 text-italic-bold">
            ¿Por qué nos llamamos Amateditorial?
            <br>
            Amate, corteza extraída del árbol del
            mismo nombre en alusión al material
            sobre el que nuestros antepasados
            indígenas usaron para plasmar y escribir
            sus ideas.
          </p>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>

<div class="bg-beige2 text-30 pb-5 curve">
  <div class="container p-5">
    <h1 class="text-success text-american-medium mb-4">¿Quiénes somos?</h1>
    <p class="mb-5">
      Editorial fundada en Guadalajara en 1986. Inicia labores editoriales produciendo principalmente a gran escala libros de textos escolares a nivel bachillerato para la zona occidente. Además de contener en su catálogo libros de texto, posee un catálogo de doce colecciones.
      <br>
      <br>
      A la fecha, para responder a las necesidades de los escritores, incursiona en la publicación de libros de tiraje corto (edición bajo demanda), lo que la constituye como pionera en este tipo de publicación en Guadalajara.
      <br>
      <br>
      Por esto, hoy, aparte de contar con un catálogo propio que alberga títulos de historia regional, literatura, religión, medicinas alternativas y otros temas de interés que puedes adquirir a través de nuestra web <a routerLink="/catalogo">https://www.amateditorial.com.mx/</a> ,brindamos servicios y asesoría a autores para que se produzcan libros de manera independiente, es decir, conservando sus derechos de autor.
      <br>
      <br>
      Así, ya durante años, hemos participado en la producción de miles de títulos de autores independientes con gran variedad de temas, los cuales puedes conseguir a través de nuestra página web.
    </p>
    <br>
    <br>
  </div>
  <div class="dot_about_us"></div>
</div>

<div class="container mt-5">
  <div class="row p-5">
    <div class="col-md-6">
      <h1 class="text-success text-american-medium">Misión</h1>
      <p class="text-30 mt-5">
        <b>Promover la libertad de expresión, de pensamiento y la difusión del conocimiento</b> ofreciendo servicios editoriales y asesoría a toda persona interesada en publicar su obra buscando el éxito de su libro de forma integral
      </p>
    </div>
    <div class="col-md-6">
      <h1 class="text-success text-american-medium">Visión</h1>
      <p class="text-30 mt-5">
        <b>Somos una editorial con gran experiencia en servicios editoriales profesionales para autores e instituciones,</b> con la consigna permanente de aumentar la calidad de nuestros servicios y ofrecer costos más competitivos para que la publicación esté al alcance de más personas. Apoyar la publicación de obras para incluirlas en nuestro catálogo.
      </p>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="px-5">
    <h1 class="text-success text-american-medium text-center">Valores</h1>
    <div class="row text-30">
      <div class="col-md-4 mt-5">
        <b>PASIÓN:</b> Amamos plasmar tus ideas y llevarlo a la realidad con un libro de calidad que te acompañará toda tu vida.
      </div>
      <div class="col-md-4 mt-5">
        <b>CALIDAD:</b> Nos regimos por los más altos estándares de calidad en cuanto a materia prima y contenido de tu libro.
      </div>
      <div class="col-md-4 mt-5">
        <b>HONESTIDAD:</b> Trabajamos de forma justa y transparente
      </div>
    </div>
    <div class="row text-30">
      <div class="col-md-1"></div>
      <div class="col-md-5 mt-5">
        <b>COMPROMISO:</b> Te acompañamos de principio a fin en todo el proceso, resolviendo en todo momento cualquier inquietud
      </div>
      <div class="col-md-5 mt-5">
        <b>RESPETO:</b> Tratamos por igual a todos, con dignidad como cualquier persona lo merece.
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-12 pt-5">
        <iframe style="width: 100%; height: 500px;" src="https://www.youtube.com/embed/njfuzPJKX4o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
