<img src="assets/images/middle_book.png" class="w-full">

<div class="container">

  <h2 class="text-center mt-5">PREGUNTAS FRECUENTES</h2>

  <app-separador></app-separador>

  <div id="accordion" class="my-5">

    <div class="card">
      <div class="card-header" id="card1">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            <h4 class="text-black">
            ¿Cómo puedo publicar con ustedes?
            </h4>
          </button>
        </h5>
      </div>
      <div id="collapse1" class="collapse" aria-labelledby="card1" data-parent="#accordion">
        <div class="card-body text-30">
          Solicita una cotización por whats app, correo, o página web, con las especificaciones en las que requieres tu libro, y te haremos llegar tu presupuesto.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="card2">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
            <h4 class="text-black">
            ¿Qué tipo de textos publicamos?
            </h4>
          </button>
        </h5>
      </div>
      <div id="collapse2" class="collapse" aria-labelledby="card2" data-parent="#accordion">
        <div class="card-body text-30">
          Recibimos todo tipo de textos, a excepción de textos que difundan discursos de odio, discriminación o atenten contra la dignidad humana.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="card3">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
            <h4 class="text-black">
            ¿Cuántos ejemplares puedo imprimir?
            </h4>
          </button>
        </h5>
      </div>
      <div id="collapse3" class="collapse" aria-labelledby="card3" data-parent="#accordion">
        <div class="card-body text-30">
          Podemos imprimir de  50 ejemplares hasta 3,000. Contamos con la capacidad adecuada para ofrecerte la mejor calidad en el tiraje que más se acomode a tus necesidades.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="card4">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
            <h4 class="text-black">
            ¿En qué formato puedo enviar mi obra?
            </h4>
          </button>
        </h5>
      </div>
      <div id="collapse4" class="collapse" aria-labelledby="card4" data-parent="#accordion">
        <div class="card-body text-30">
          Es importante que nos envíes tu obra en formato word para que no haya variaciones de costo una vez expedida la cotización.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="card5">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
            <h4 class="text-black">
            ¿Cómo puedo comprar algún libro, si no está en el sitio web?
            </h4>
          </button>
        </h5>
      </div>
      <div id="collapse5" class="collapse" aria-labelledby="card5" data-parent="#accordion">
        <div class="card-body text-30">
          Puedes comunicarte a nuestro contacto por whats 33 1311 3550, para revisar disponibilidad y podemos enviártelo por paquetería o lo puedes recoger en la editorial.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="card6">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
            <h4 class="text-black">
            ¿Cuáles son los métodos de pago?
            </h4>
          </button>
        </h5>
      </div>
      <div id="collapse6" class="collapse" aria-labelledby="card6" data-parent="#accordion">
        <div class="card-body text-30">
          Transferencia o pago en efectivo.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="card7">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
            <h4 class="text-black">
            ¿Hacen envíos a toda la República Mexicana?
            </h4>
          </button>
        </h5>
      </div>
      <div id="collapse7" class="collapse" aria-labelledby="card7" data-parent="#accordion">
        <div class="card-body text-30">
          Si, utilizamos servicios de paquetería para cualquier parte del país. La mayoría de los envíos tardan aproximadamente de 3 a 5 días hábiles.
        </div>
      </div>
    </div>

  </div>

</div>
