.dot_cart{
  width: 100px;
  height: 100px;
  background-color: var(--verde-amate);
  position:absolute;
  margin-left: 50%;
  left: -50px;
  border-radius: 100%;
  margin-top: -50px;
  color: #fff;
  font-size: 50px;
  text-align: center;
}
.icon_cart{
  font-size: 60px;
}
