<div class="bg-beige1 mt-3">
  <div class="row m-0">
    <div class="col-12 col-md-1"></div>
    <div class="col-4 col-md-2">
      <a class="link_scroll active" routerLink="/services/asesoria">
        <img src="assets/images/icons/AMATE SEPARADA-03.png" class="w-full">
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" routerLink="/services/tramite">
        <img src="assets/images/icons/AMATE SEPARADA-04.png" class="w-full">
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" routerLink="/services/diseño">
        <img src="assets/images/icons/AMATE SEPARADA-05.png" class="w-full">
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" routerLink="/services/diagramacion">
        <img src="assets/images/icons/AMATE SEPARADA-06.png" class="w-full">
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" routerLink="/services/correccion">
        <img src="assets/images/icons/AMATE SEPARADA-07.png" class="w-full">
      </a>
    </div>
    <div class="col-12 col-md-1"></div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-md-1"></div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" routerLink="/services/encuadernacion">
        <img src="assets/images/icons/AMATE SEPARADA-08.png" class="w-full">
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" routerLink="/services/impresion">
        <img src="assets/images/icons/AMATE SEPARADA-09.png" class="w-full">
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" routerLink="/services/comercializacion">
        <img src="assets/images/icons/AMATE SEPARADA-10.png" class="w-full">
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" routerLink="/services/formato">
        <img src="assets/images/icons/AMATE SEPARADA-11.png" class="w-full">
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" routerLink="/services/agendas">
        <img src="assets/images/icons/AMATE SEPARADA-12.png" class="w-full">
      </a>
    </div>
    <div class="col-12 col-md-1"></div>
  </div>
</div>
