<img src="assets/images/middle_book.png" class="w-full">

<h2 class="text-center mt-5">NUESTROS SERVICIOS EDITORIALES</h2>

<app-separador></app-separador>

<!--<app-menu-services></app-menu-services>-->

<div class="bg-beige1 mt-3">
  <div class="row m-0">
    <div class="col-12 col-md-1"></div>
    <div class="col-4 col-md-2">
      <a class="link_scroll active" (click)="scrollToElements('asesoria')">
        <img src="assets/images/icons/AMATE SEPARADA-03.png" class="w-full">
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" (click)="scrollToElements('tramite')">
        <img src="assets/images/icons/AMATE SEPARADA-04.png" class="w-full">
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" (click)="scrollToElements('diseño')">
        <img src="assets/images/icons/AMATE SEPARADA-05.png" class="w-full">
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" (click)="scrollToElements('diagramacion')">
        <img src="assets/images/icons/AMATE SEPARADA-06.png" class="w-full">
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" (click)="scrollToElements('correccion')">
        <img src="assets/images/icons/AMATE SEPARADA-07.png" class="w-full">
      </a>
    </div>
    <div class="col-12 col-md-1"></div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-md-1"></div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" (click)="scrollToElements('encuadernacion')">
        <img src="assets/images/icons/AMATE SEPARADA-08.png" class="w-full">
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" (click)="scrollToElements('impresion')">
        <img src="assets/images/icons/AMATE SEPARADA-09.png" class="w-full">
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" (click)="scrollToElements('comercializacion')">
        <img src="assets/images/icons/AMATE SEPARADA-10.png" class="w-full">
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" (click)="scrollToElements('formato')">
        <img src="assets/images/icons/AMATE SEPARADA-11.png" class="w-full">
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a class="link_scroll" (click)="scrollToElements('agendas')">
        <img src="assets/images/icons/AMATE SEPARADA-12.png" class="w-full">
      </a>
    </div>
    <div class="col-12 col-md-1"></div>
  </div>
</div>


<div class="container" style="padding-bottom: 100px;">
  <div class="row">

    <div class="col-12 section-padding" id="asesoria">
      <div class="bg-beige2 container-services">
        <div class="bg-beige2 circle display">
          <img src="assets/images/icons/AMATE SEPARADA-03.png" class="w-full">
        </div>
        <h2 class="text-success text-black">Asesoría Editorial</h2>
        <p class="text-30">
          Brindamos asesoría permanente durante todo el proceso de publicación.
          <br>
          <br>
          Los servicios editoriales para realizar la publicación de un libro son largos y laboriosos, el autor puede tener una idea de portada o tema de escritura que se le complica definir. Por esto, brindamos apoyo en todo momento al autor durante todo el proceso de publicación de su libro, incluso, se le brinda este apoyo para dudas que posteriormente pueden surgir una vez concluida su publicación.
          <br>
          <br>
          Escuchamos tus dudas, te ayudamos a aclararlas, te guiamos y notificamos durante el proceso de edición en que va tu libro.
          <br>
          <br>
          <b>¡Toma la decisión y nosotros te acompañamos!</b>
          <a class="btn btn-success float-right" routerLink="/publish_book"><h2 class="m-0">Cotizar</h2></a>
        </p>
      </div>
    </div>

    <div class="col-12 section-padding mt-5" id="tramite">
      <div class="bg-success-light container-services">
        <div class="bg-success-light circle display">
          <img src="assets/images/icons/AMATE SEPARADA-04.png" class="w-full">
        </div>
        <h2 class="text-success text-black">Trámite de ISBN</h2>
        <p class="text-black text-30 mt-3 mb-1">Qué es el ISBN?</p>
        <p class="text-30">
          El Número Internacional Normalizado del libro, o ISBN por sus siglas en inglés, es el número que permite que tu libro sea identificado Internacionalmente. El ISBN establece una serie de pautas de información que el libro debe contener para facilitar su clasificación y comercialización. Esta norma que da identidad y orden a los libros fue creada en Inglaterra por los editores de la librería WH Smith.
          <br>
        </p>
        <p class="text-black text-30 mb-1">
          ¿Por qué es importante considerarlo en tu libro?
        </p>
        <p class="text-30">
          El ISBN proporciona el beneficio de poder ser distribuido y comercializado local, nacional e internacionalmente, se otorga reconocimiento oficial por parte de diversas instituciones, funciona como identificador de tu obra como único en el mundo.
          <br>
          <br>
          <i class="text-italic-bold">Nosotros te ayudamos a tramitar los dos tipos de ISBN, impreso y digital.</i>
        </p>
      </div>
    </div>

    <div class="col-12 section-padding mt-5" id="diseño">
      <div class="bg-beige2 container-services">
        <div class="bg-beige2 circle display">
          <img src="assets/images/icons/AMATE SEPARADA-05.png" class="w-full">
        </div>
        <h2 class="text-success text-black">Diseño de portada</h2>
        <p class="text-30">
          Contamos con un equipo de diseñadores expertos que te escuchan si tienes una idea de lo que buscas comunicar en tu portada o si definitivamente decides que nuestros diseñadores hagan todo el trabajo, ellos te hacen propuestas que te hagan sentir satisfecho con el diseño.
          <br>
          <br>
          Aquí algunos ejemplos de portadas creadas con el espíritu creativo de Amateditorial
        </p>
        <div class="row">
          <div class="col-6 col-md-3">
            <img src="assets/images/portadas/INDEP-03.png" class="w-full">
          </div>
          <div class="col-6 col-md-3">
            <img src="assets/images/portadas/INDEP-05.png" class="w-full">
          </div>
          <div class="col-6 col-md-3">
            <img src="assets/images/portadas/INDEP-09.png" class="w-full">
          </div>
          <div class="col-6 col-md-3">
            <img src="assets/images/portadas/INDEP-13.png" class="w-full">
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 section-padding mt-5" id="diagramacion">
      <div class="bg-success-light container-services">
        <div class="bg-success-light circle display">
          <img src="assets/images/icons/AMATE SEPARADA-06.png" class="w-full">
        </div>
        <h2 class="text-success text-black">Diagramación o Maquetación</h2>

        <p class="text-30">
          La diagramación es el acomodo adecuado de la información del interior de un libro siempre respetando el contenido de este y su objetivo comunicativo.
        </p>
        <p class="text-black text-30 mb-1">
          Esto se desglosa en 6 grandes aspectos:
        </p>
        <p class="text-30">
          - Organizar contenidos escritos y visuales
          <br>
          - Elegir títulos y subtítulos, tamaño de las fotos y el tipo o familia de letras
          <br>
          - Adecuar los márgenes al tamaño del libro que será impreso.
          <br>
          - Dar ancho y alto de texto (llamado caja) adecuados.
          <br>
          - Colocar folios, índices, número de páginas, etc.
          <br>
          - Elegir la tipografía adecuada en cuanto a tamaño y estilo.
          <br>
          <br>
          En resumen, la publicación de un libro no es tarea fácil porque no solo es imprimir el archivo tal cual está escrito, para que el libro sea exitoso y llamativo, requiere de la asesoría editorial que nosotros te podemos brindar.
        </p>
      </div>
    </div>

    <div class="col-12 section-padding mt-5" id="correccion">
      <div class="bg-beige2 container-services">
        <div class="bg-beige2 circle display">
          <img src="assets/images/icons/AMATE SEPARADA-07.png" class="w-full">
        </div>
        <h2 class="text-success text-black">Corrección ortotipográfica</h2>
        <!--<p class="text-success text-italic text-30">
          Como lo afirma Umberto Eco:
          "El autor es la persona menos indicada para descubrir los errores en su obra".
        </p>-->
        <p class="text-30">
          ¿En qué consiste la corrección ortotipográfica?
          <br>
          <br>
        · Corregir los errores ortográficos y de puntuación.
        <br>
        · Ajustar la ortografía a las normas de la RAE, como el uso de mayúsculas, tildes, formación de abreviaturas, y escritura de cifras, magnitudes y sus símbolos, entre otros aspectos.
        <br>
        · Unificar criterios en aquellas cuestiones no sujetas a normativa (como el uso de negrita, cursiva y comillas).
        <br>
        · Cuando la corrección se realice sobre el texto ya maquetado (diagramado) para versión impresa (compaginadas), detectar viudas y huérfanas, repetición de sílabas en líneas consecutivas y palabras mal partidas; asimismo, señalar errores en el tratamiento de blancos, márgenes, líneas cortas, filetes y foliación.
        <br>
        · Revisión del sumario y su correspondencia con la obra.
        </p>
      </div>
    </div>

    <div class="col-12 section-padding mt-5" id="impresion">
      <div class="bg-success-light container-services">
        <div class="bg-success-light circle display">
          <img src="assets/images/icons/AMATE SEPARADA-09.png" class="w-full">
        </div>
        <h2 class="text-success text-black">Impresión Offset y Digital</h2>
        <p class="text-30">
          La impresión digital y la impresión offset son dos técnicas de impresión diferentes. La impresión digital es utilizada cuando el número de ejemplares es menor a 500 y la de offset es utilizada para imprimir un enorme número de libros (conocidos como tiros largos). La impresión offset tiene su ventaja porque conforme incrementa el número de impresiones disminuye el costo unitario.
          Tanto la impresión digital como el offset se pueden imprimir en los siguientes tamaños:
        </p>
        <div class="row">
          <!--<div class="col-md-2"></div>-->
          <div class="col-6 col-md-3">
            <img src="assets/images/icons/AMATE SEPARADA-19.png" class="w-full">
          </div>
          <div class="col-6 col-md-3">
            <img src="assets/images/icons/AMATE SEPARADA-20.png" class="w-full">
          </div>
          <div class="col-6 col-md-3">
            <img src="assets/images/icons/AMATE SEPARADA-21.png" class="w-full">
          </div>
          <div class="col-6 col-md-3">
            <img src="assets/images/icons/AMATE SEPARADA-22.png" class="w-full">
          </div>
          <!--<div class="col-md-2"></div>-->
        </div>
        <p class="text-30 text-bold">
          Tipos de papel
        </p>
        <div class="row">
          <div class="col-4 col-md-2">
            <img src="assets/images/icons/AMATE SEPARADA-23.png" class="w-full">
          </div>
          <div class="col-8 col-md-10">
            <p class="text-30">
              <b>Bond: </b> Papel blanco: para textos de consulta rápida como manuales,
              ejercicios, seminarios, imágenes.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-4 col-md-2">
            <img src="assets/images/icons/AMATE SEPARADA-24.png" class="w-full">
          </div>
          <div class="col-8 col-md-10">
            <p class="text-30">
              <b>Cultural: </b> Papel ahuesado: para textos de consulta larga como investigaciones académicas, cuentos, memorias, novelas, poesía
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-4 col-md-2">
            <img src="assets/images/icons/AMATE SEPARADA-25.png" class="w-full">
          </div>
          <div class="col-8 col-md-10">
            <p class="text-30">
              <b>Couché: </b> Papel brillante: imágenes a color, memorias académicas, catálogos, álbumes
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 section-padding mt-5" id="encuadernacion">
      <div class="bg-beige2 container-services">
        <div class="bg-beige2 circle display">
          <img src="assets/images/icons/AMATE SEPARADA-08.png" class="w-full">
        </div>
        <h2 class="text-success text-black">Encuadernación</h2>
        <p class="text-30">
          Contamos con taller propio de encuadernación, lo que hace que nuestros precios sean mucho más competitivos y podamos ofrecerte tiempos cortos en la entrega de tu proyecto.
          <br>
          <br>
        </p>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="dot">
              <p class="text-black text-center text-success">
                1.
              </p>
            </div>
            <div class="bg-white p-4 mb-4" style="min-height: 420px">
              <p class="text-30 text-black text-center">
                Encuadernación rústica
              </p>
              <p class="text-30" style="padding-bottom: 28px;">
                Este tipo de encuadernación es la más cómoda y de fácil transportación , los libros los puedes guardar en cualquier lugar con facilidad y además es económica.
              </p>
              <div class="objetfit">
                <img src="assets/images/encuadernacion/rustica.jpg" class="w-full">
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="dot">
              <p class="text-black text-center text-success">
                2.
              </p>
            </div>
            <div class="bg-white p-4 mb-4" style="min-height: 420px">
              <p class="text-30 text-black text-center">
                Encuadernación de pasta dura
              </p>
              <p class="text-30">
                La pasta dura es ideal para libros de gran tamaño, garantiza preservar la calidad durante varios años y se emplean en obras de mayor uso. El prestigio que gana la obra con tapa dura es importante.
              </p>
              <img src="assets/images/encuadernacion/pasta_dura.jpg" class="w-full">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="dot">
              <p class="text-black text-center text-success">
                3.
              </p>
            </div>
            <div class="bg-white p-4 mb-4" style="min-height: 420px">
              <p class="text-30 text-black text-center">
                Encuadernación wire-o <br>
                y espiral plástico
              </p>
              <p class="text-30">
                El proceso de wire-o se basa en la perforación de las hojas donde se introduce un alambre doble formando un espiral, es un proceso muy
                rápido y sencillo, si no buscas una presentación tan formal además es de bajo costo.
              </p>
              <img src="assets/images/encuadernacion/wire-o.jpg" class="w-full">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="dot">
              <p class="text-black text-center text-success">
                4.
              </p>
            </div>
            <div class="bg-white p-4 mb-4" style="min-height: 420px">
              <p class="text-30 text-black text-center">
                Encuadernación a grapa
              </p>
              <p class="text-30">
                Es ideal para publicaciones pequeñas, que nos superen los 5mm de grosor como catálogos, revistas o folletos. Es un proceso rápido que permite abrir completamente la publicación.
              </p>
              <img src="assets/images/encuadernacion/grapas.jpg" class="w-full" style="margin-top: 28px;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 section-padding mt-5" id="comercializacion">
      <div class="bg-success-light container-services">
        <div class="bg-success-light circle display">
          <img src="assets/images/icons/AMATE SEPARADA-10.png" class="w-full">
        </div>
        <h2 class="text-success text-black">Comercialización</h2>

        <p class="text-30">
          <span class="text-black">Amateditorial te apoya en la comercialización de tu libro. ¿Cómo?</span>
          <br>
          <br>
          <span class="text-black">1.- Presentación en ferias específicas del libro.</span>
          <br>
          Tramitamos ante los organizadores un espacio en cada feria para que pongas a la venta tu libro, además de tener la posibilidad de hacer la presentación del mismo.
          <br>
          <br>
          <span class="text-black">2.- Venta en línea en nuestro sitio WEB</span>
          <br>
          Ofrecemos un espacio para publicar tu libro en nuestra tienda en línea acompañado de una síntesis y envío a toda la República Mexicana.
          <br>
          <br>
          <span class="text-black">3.- Publicación en redes sociales y sitio web</span>
          <br>
          En la ímpresión de más de 100 ejemplares te ofrecemos un post promocional en nuestras redes sociales (Facebook e Instagram) en la  impresión de más de 300 ejemplares creamos un banner especial dentro de nuestro sitio web.
          <br>
          <br>
          <span class="text-black">4.- Artículos publicitarios</span>
          <br>
          A partir de la impresión de 300 ejemplares te ofrecemos materiales publicitarios (separadores, tent cards y mini libretas) con la información de tu libro para que puedas distribuirlo en los lugares que más se adapten a tus gustos y necesidades.
        </p>
      </div>
    </div>

    <div class="col-12 section-padding mt-5" id="formato">
      <div class="bg-beige2 container-services">
        <div class="bg-beige2 circle display">
          <img src="assets/images/icons/AMATE SEPARADA-11.png" class="w-full">
        </div>
        <h2 class="text-success text-black">Formato Electrónico</h2>
        <p class="text-30 pb-3">
          Solicita tu libro en formato electrónico EPUB para que lo puedan leer en todos los dispositivos móviles y lo comercialices en las principales plataformas en línea
        </p>
        <div class="text-right">
          <a class="btn btn-success" routerLink="/publish_book"><h2 class="m-0">Cotizar</h2></a>
        </div>
      </div>
    </div>

    <div class="col-12 section-padding mt-5" id="agendas">
      <div class="bg-success-light container-services">
        <div class="bg-success-light circle display">
          <img src="assets/images/icons/AMATE SEPARADA-12.png" class="w-full">
        </div>
        <h2 class="text-success text-black">Agendas y libretas</h2>
        <p class="text-30 pb-4">
          Contamos con talleres de producción de libretas y agendas personalizadas en todos los tamaños, con diferentes tipos de portada y papel a precio de fábrica. Hemos diseñado agendas y libretas a empresas, escuelas, instituciones de gobierno, festivales, vendedores, etc.
        </p>
        <div class="row">
          <div class="col-6 col-md-3"><img src="assets/images/portadas/agendas-2.png" class="w-full"></div>
          <div class="col-6 col-md-3"><img src="assets/images/portadas/agendas-5.png" class="w-full"></div>
          <div class="col-6 col-md-3"><img src="assets/images/portadas/agendas-6.png" class="w-full"></div>
          <div class="col-6 col-md-3"><img src="assets/images/portadas/agendas-4.jpg" class="w-full"></div>
        </div>
      </div>
    </div>

  </div>
</div>
