<img src="assets/images/middle_book.png" class="w-full mt-100">

<h1 class="text-success text-american-bold text-center my-5">Recuperar contraseña</h1>

<div class="row m-0">
  <div class="col-md-4"></div>
  <div class="col-md-4 bg-success-light p-5 mb-5 text-center">
    <form novalidate [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
      <input type="email" class="form-control mb-3" placeholder="Email" formControlName="email" [(ngModel)]="email">
      <button type="submit" class="btn btn-success mb-2" [disabled]="forgotPasswordForm.invalid">
        <h4 class="m-0">Enviar</h4>
      </button>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
